html {
  font-family: sans-serif;
  color: darkblue;
}

body {
    background-color: rgb(0, 0, 100);
    text-align: center;
}

button {
    background: transparent;
    font-size: 1.0rem;
}

h1 {
    color: rgb(0, 200, 255);
    font-size: 3.0rem;
    text-align: center;
}

h2 {
    color: rgb(250, 225, 150);
    font-size: 2.0rem;
}

h3 {
    color: rgb(0, 200, 255);
    font-size: 4.0rem;
    text-align: center;
}

h4 {
    color: rgb(255, 255, 255);
    font-size: 3.0rem;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(100,255,255);
  letter-spacing: 1px;
  font-size: 2rem;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

td, th {
  border: 3px solid rgb(200,200,200);
  padding: 10px 10px;
}

th {
  background-color: rgb(135,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(30,60,120);
}

tr:nth-child(odd) td {
  background-color: rgb(50,100,200);
}

caption {
  padding: 10px;
}